<!-- ユーザーの詳細 -->
<h1>User info</h1>
 <div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p>name : <%= @user.name %></p>
  <p>introduction : <%= @user.introduction %></p>
  <% if @user == current_user %>
    <p><%= link_to "Update User", edit_user_path(@user) %></p>
  <% end %>
 </div>

<!-- ユーザーの投稿一覧 -->
<h1>Books</h1>
<% @books.each do |book| %>
 <div>
  <%= link_to user_path(@user.id) do %>
    <p><%= image_tag @user.get_profile_image(100,100) %></p>
  <% end %>
  <p>Title：<%= book.title %></p>
  <p>Opinion：<%= book.body %></p>
 </div>
 <br>
 <br>
<% end %>